<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoyang.health.admin.dao.UserDao">
	
	<sql id="cols">
		 ID
		,NAME
		,BIRTHDAY
		,CREATE_BY
		,CREATE_TIME
		,LAST_MODIFY_BY
		,LAST_MODIFY_TIME
		,PASSWORD
	</sql>
	
	<select id="findAll" resultType="User">
		SELECT * FROM USER
	</select>
	
	<select id="findById" parameterType="string" resultType="User">
		SELECT * FROM USER WHERE ID = #{id}
	</select>
	
	<select id="findByName" parameterType="string" resultType="User">
		SELECT * FROM USER WHERE NAME = #{name}
	</select>
	
	<insert id="save" parameterType="User">
		INSERT INTO USER 
			(<include refid="cols"/>)VALUES(
			 #{id}
			,#{name}
			,#{birthday}
			,#{createBy}
			,#{createTime}
			,#{lastModifyBy}
			,#{lastModifyTime}
			,#{password}
		)
	</insert>
</mapper>