<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation=
	    "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- ================================================== 调度工厂 ================================================== -->
	<bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="testTriggerBean" />
			</list>
		</property>
	</bean>
	
	<!--==================================================== 定时任务类和方法定义 ========================================  -->
	<bean id="testQuartz" class="com.aoyang.health.admin.quartz.TestQuartz" />
	<bean id="testQtzJobMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="testQuartz" />
		</property>
		<property name="targetMethod">
			<value>run</value>
		</property>
	</bean>
	
	<!-- ================================================= 调度触发器 ================================================== -->
	<bean id="testTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="testQtzJobMethod"></property>
		<property name="cronExpression" value="59 * * * * ?"></property>
	</bean>
	
</beans>