<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 启用shrio授权注解拦截方式 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 装配 securityManager -->
		<property name="securityManager" ref="securityManager" />
		<!-- 配置登陆页面 -->
		<property name="loginUrl" value="/index" />
		<!-- 登陆成功后的页面 -->
		<property name="successUrl" value="/admin/user/index" />
		<property name="unauthorizedUrl" value="/admin" />
		<!-- 具体配置需要拦截哪些 URL, 以及访问对应的 URL时使用 Shiro 的什么 Filter 进行拦截. -->
		<property name="filterChainDefinitions">
			<value>
				/index = anon
				/admin/** = authc
				/css/** = anon
                /js/** = anon
                /avatars/** = anon
                /font/** = anon
                /images/** = anon
				/logout = logout
			</value>
		</property>
	</bean>

	<!-- 配置缓存管理器 -->
<!-- 	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"> -->
		<!-- 指定 ehcache 的配置文件 -->
<!-- 		<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" /> -->
<!-- 	</bean> -->

	<!-- 配置进行授权和认证的 Realm -->
	<bean id="myRealm" class="com.aoyang.health.admin.shiro.ShiroDbRealm"/>
	
	<!-- 配置 Shiro 的 SecurityManager Bean. -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
<!-- 		<property name="cacheManager" ref="cacheManager" /> -->
		<property name="realm" ref="myRealm" />
	</bean>
	
	<!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>